@import "tailwindcss";

/* emoji-picker.css */
.EmojiPickerReact *::-webkit-scrollbar {
  width: 8px;
}

.EmojiPickerReact *::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind's gray-600 */
  border-radius: 4px;
}

.EmojiPickerReact *::-webkit-scrollbar-track {
  background-color: transparent;
}
