.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* slightly thicker */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08); /* soft visible track */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

@layer utilities {
  .emoji-picker-no-header .epr-search-container,
  .emoji-picker-no-header .epr-category-nav {
    display: none !important;
  }
}

.emoji-picker-no-header .epr-body {
  scrollbar-width: none;
}
